/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= BASE ================= */
body {
    background-color: #f8f1e7;
    font-family: 'Times New Roman', Times, serif;
}

/* ================= HEADER / LOGO ================= */


.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.logo {
    width: 200px;
    height: auto;
}

.texto-logo h1 {
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: rgb(90, 55, 8);
}

.texto-logo p {
    font-size: 15px;
}

/* ================= NAVEGAÇÃO ================= */
.navegacao {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 15px 40px;
    background-color: rgb(90, 55, 8);
    flex-wrap: wrap;
}

.navegacao a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.navegacao a:hover {
    color: rgb(255, 157, 30);
    transform: scale(1.05);
}

/* ================= VÍDEO ================= */
.video {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    display: block;
}

/* ================= RODAPÉ ================= */
footer {
    background-color: rgb(90, 55, 8);
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}

/* =================================================
   RESPONSIVIDADE
   ================================================= */

/* 📱 CELULAR */
@media (max-width: 600px) {

    header {
        text-align: center;
    }

    .logo-area {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 150px;
    }

    .texto-logo h1 {
        font-size: 30px;
    }

    .texto-logo p {
        font-size: 14px;
    }

    .navegacao {
        justify-content: center;
        padding: 15px;
        gap: 20px;
    }

    .video {
        width: 100%;
        margin: 20px auto;
    }
}

/* 📲 TABLET */
@media (max-width: 900px) {

    .texto-logo h1 {
        font-size: 36px;
    }

    .video {
        width: 90%;
    }
}