* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= BASE ================= */
body {
    background-color: #f8f1e7;
    font-family: 'Times New Roman', Times, serif;
}

/* ================= HEADER / LOGO ================= */


.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.logo {
    width: 200px;
    height: auto;
}

.texto-logo h1 {
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: rgb(90, 55, 8);
}

.texto-logo p {
    font-size: 15px;
}

/* ================= NAVEGAÇÃO ================= */
.navegacao {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 15px 40px;
    background-color: rgb(90, 55, 8);
    flex-wrap: wrap;
}

.navegacao a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.navegacao a:hover {
    color: rgb(255, 157, 30);
    transform: scale(1.05);
}



h2 {
    padding: 15px;
}




/* -----------FOOTER ------------------------ */

footer {
    background-color: rgb(90, 55, 8);
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}

.contato {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    padding: 15px;
}

.funcionamento {
    text-align: center;
    color: rgb(90, 55, 8);
    padding: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

.tabela {

    width: 90%;
    border-collapse: collapse;

    /* centralizar a tabela margin:auto */
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.tabela thead {
    
    text-align: center;

}

.tabela th {
    background-color: rgb(90, 55, 8);
    padding: 12px 30px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.tabela td {
    padding: 12px 30px;
    text-align: center;
    border-bottom: 3px solid #d6c3a3;
    font-size: 15px;

}


.localizacao {

    justify-content: center;
    margin-top: 20px;
}

.mapa {
    width: 60%;
    margin: 40px auto;
    display: block;
    text-align: center;
    justify-content: center;
    max-width: 800px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);

}

.desenvolvido {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.localTexto {

    color: rgb(90, 55, 8);
    padding: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;


}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px; /* Distância do fundo */
    right: 40px;  /* Distância da direita */
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que fique na frente de tudo */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}

.whatsapp-link img {
    width: 35px;
    height: 35px;
}

/* Efeito de aumentar levemente ao passar o mouse */
.whatsapp-link:hover {
    transform: scale(1.1);
    background-color: #20ba5a;
}





/* 📱 CELULAR */
@media (max-width: 600px) {

    header {
        text-align: center;
    }

    .logo-area {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 150px;
    }

    .texto-logo h1 {
        font-size: 30px;
    }

    .texto-logo p {
        font-size: 14px;
    }

    .navegacao {
        justify-content: center;
        padding: 15px;
        gap: 20px;
    }


}

/* 📲 TABLET */
@media (max-width: 900px) {

    .texto-logo h1 {
        font-size: 36px;
    }

    .video {
        width: 90%;
    }
}